<head>
    <title>I Drive Safely&reg; &#8211; Customer Support</title>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
	<link rel="profile" href="http://gmpg.org/xfn/11">
	<link rel="pingback" href="https://www.idrivesafely.com/xmlrpc.php">
   <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		  <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
<link href="//fonts.googleapis.com/css?family=Oxygen|Open+Sans|Titillium+Web" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<script type="text/javascript" src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script defer src="//use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<link rel='stylesheet' href='//fonts.googleapis.com/icon?family=Material+Icons'>
<link rel='stylesheet' href='//unpkg.com/material-components-web@0.8.0/dist/material-components-web.min.css'>
<link rel="canonical" href="https://www.idrivesafely.com/support/" />
<meta name="description" content="I Drive Safely offers Customer Support 7 days a week.">
<meta name="keywords" content="I Drive Safely, idrivesafely, Customer Support, customer service, customer service representative, online customer service, live chat customer service, customer service chat, drivers education, driving lessons, insurance, Aceable">
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Contact Us - I Drive Safely&reg; Help Center" />
<meta property="og:url" content="https://www.idrivesafely.com/support/" />
<meta property="og:site_name" content="I Drive Safely&reg;" />
<meta property="og:image" content="//help.aceable.com/wp-content/uploads/2015/04/Screen-Shot-2016-12-07-at-2.31.26-PM-1-1.png" />
<meta property="og:image" content="//help.aceable.com/wp-content/uploads/2015/04/Screen-Shot-2016-12-07-at-2.33.50-PM-1-1.png" />
<meta property="og:image" content="//help.aceable.com/wp-content/uploads/2015/04/iOS-App-Store-download-300x104-1-1.png" />
<meta property="og:image" content="//help.aceable.com/wp-content/uploads/2015/04/Google-Play-Store-download-300x91-1-1.png" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="Contact Us - I Drive Safely offers Customer Support 7 days a week" />
<meta name="twitter:image" content="//help.aceable.com/wp-content/uploads/2015/04/Screen-Shot-2016-12-07-at-2.31.26-PM-1-1.png" />
<!-- idrivesafely Facebook -->
<!-- causing issues
<script src="//connect.facebook.net/signals/plugins/inferredEvents.js?v=2.8.47" async=""></script>
<script src="//connect.facebook.net/signals/config/635917949882325?v=2.8.47&amp;r=stable" async=""></script>
<script async="" src="//connect.facebook.net/en_US/fbevents.js"></script>
-->
<!-- Start of aceable Zendesk Widget script
/////// Not sure if this is even the right thing for us to use
-->
<script id="ze-snippet" src="//static.zdassets.com/ekr/snippet.js?key=3219501f-8059-41e0-9104-05a3125815b5"> </script>
<!-- End of aceable Zendesk Widget script -->
<meta name="robots" content="noodp,noydir">
<link rel="dns-prefetch" href="//maxcdn.bootstrapcdn.com">
</head>
